@import "@/_assets/styles/variables";

.root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transition: transform $transitionSet;
  //transform: translateX(-1000px);
  &.showBurgerMenu {
    transform: translateX(0);
  }
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 82%;
  background-color: $light;
}

.burgerWrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  width: 26px;
  height: 26px;
  background-color: $light;
  border-radius: 50%;
}

.catalogText {
  margin-right: auto;
  font-weight: 700;
  line-height: 1.9rem;
  font-size: 1.6rem;
}