@import "@/_assets/styles/variables";

.swiper-pagination-bullet {
  height: 5px;
  border-radius: 25%;
}

.swiper-pagination-bullet-active {
  background: $mainColor;
  width: 19px;
  height: 5px;
  border-radius: 25%;
}