@import "@/_assets/styles/variables";

.root {
  &.callback {
    min-width: 339px;
    background-color: $light;
    border-radius: $borderRadiusMedium;
    padding: 50px 55px;
    @media(max-width: 900px) {
      padding: 30px 18px 35px;
    }
  }
}

.modal {
  &.callback {
    display: flex;
    flex-direction: column;
  }
}

.titleWrapper {
  &.callback {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {
  margin: 0;
  user-select: none;
  &.callback {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    @media(max-width: $mediaMobile) {
      font-size: 22px;
      line-height: 22px;
    }
  }
}

.subtitle {
  margin: 0;
  user-select: none;
  &.callback {
    max-width: 336px;
    font-size: 16px;
    opacity: .6;
    line-height: 16px;
    text-align: center;
    @media(max-width: $mediaMobile) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.form {
  &.callback {
    display: flex;
    flex-direction: column;
  }
}

.callbackInputsWrapper {
  &.callback {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 20px;
  }
}

.checkboxCallbackWrapper {
  &.callback {
    margin-bottom: 30px;
    @media(max-width: $mediaMobile) {
      margin-bottom: 23px;
    }
  }
}

.callbackConsentText {
  font-size: 14px;
  user-select: none;
}

.callbackConsentLink {
  text-decoration: underline;
}