@import '@/_assets/styles/variables';

.svg {
  position: relative;
  transition: transform $transitionSet;
  &.flip {
    transform: rotate(-180deg);
  }
  &.main {
    width: 1.1rem;
    height: .7rem;
    opacity: .3;
  }
}