@import '@/_assets/styles/variables';

.svg {
  position: relative;
  transition: transform $transitionSet;
  &.flip {
    transform: rotate(-180deg);
  }
  &.main {
    width: 11px;
    height: 7px;
    opacity: .3;
  }
}