@import "@/_assets/styles/variables";

.popupMenu {
  position: relative;
  z-index: 3;
  &.hideCatalogMenu {
    display: none;
  }
  &.showCatalogMenu {
    display: block;
  }
  @media(max-width: $mediaMobile) {
    border-top: 2px solid $inputAreaColor;
  }
}

.catalogWrapper {
  &.main {
    display: flex;
    width: fit-content;
    position: absolute;
    left: 0;
    z-index: 1;
    &.active {
      width: 100%;
    }
  }
}
