@import "@/_assets/styles/variables";

.categoryWrapper {
  min-width: 312px;
  padding: 24px;
  background-color: $light;
  border-bottom-left-radius: $borderRadiusSmall;
  border-bottom-right-radius: $borderRadiusSmall;
  &.withContent {
    border-bottom-right-radius: 0;
  }
  @media(max-width: $mediaMobile) {
    width: 100%;
  }
}

.categoryList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
  line-height: 1.9rem;
}

.itemLink {
  display: flex;
  align-items: center;
}

.activeMenuItem {
  .itemLink {
    & .arrowCategoryMenu,
    & .itemText,
    & .itemSvg {
      color: $mainColor;
      opacity: 1;
    }
  }
}

.itemSvg {
  margin-right: 17px;
}

.itemText {
  margin-right: auto;
  transition: color $transitionSet;
}

.simpleBar {
  max-height: $simpleBarCatalogPopupHeight;
}