@import "@/_assets/styles/variables";

.activeList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media(max-width: 850px) {
    display: flex;
    flex-direction: column;
  }
  @media(max-width: $mediaMobile) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
  .listItem {
    margin-bottom: 20px;
    &:nth-child(odd) {
      margin-right: 50px;
      @media(max-width: $mediaTablet) {
        margin-right: 20px;
      }
    }
    &:hover .resultLink {
      display: inline-block;
      color: $mainColor;
    }
  }
}
