@import "@/_assets/styles/variables";

.additionalInfoSection {
  margin-bottom: 50px;
}

.textContainer {
  display: flex;
  justify-content: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media(max-width: 1180px) {
    max-width: 895px;
  }
  @media(max-width: 990px) {
    max-width: 690px;
  }
  @media(max-width: $mediaMobile) {
    max-width: 546px;
    gap: 10px;
  }
}

.mainTitle {
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.4rem;
  @media(max-width: $mediaMobile) {
    margin-bottom: 15px;
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.paragraph {
  margin: 0;
  font-size: 1.4rem;
  line-height: 2.4rem;
  @media(max-width: $mediaMobile) {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.secondaryTitle {
  margin-bottom: 15px;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.5rem;
  @media(max-width: $mediaMobile) {
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.link {
  color: $mainColor;
}