@import '@/_assets/styles/variables';

.root {
  position: relative;
  width: 100%;
  max-width: 426px;
  user-select: none;
}

.search {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  padding: 14px 14px 14px 46px;
  background-color: $gray;
  border-radius: $borderRadiusSmall;
  border: none;
  &:focus {
    outline-color: $mainColor;
  }
}

.searchBtn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  left: 17px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}