@import '../variables/index.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  font-size: 1.6rem;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  color: $primaryText;
}

header {
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex-grow: 1;
  position: relative;
  @media(max-width: $mediaTablet) {
    gap: 45px;
  }
  @media(max-width: $mediaMobile) {
    gap: 25px;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}