@import '../variables/index.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  color: $primaryText;
}

main {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}