@import '@/_assets/styles/variables';

.root {
  padding: 7px 0;
  background-color: $lightGray;
  @media(max-width: $mediaMobile) {
    display: none;
  }
}

.content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.storeAboutText {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2rem;
  opacity: .3;
}