@import "@/_assets/styles/variables";

$mediaMobileFilterResults: 850px;

.tagsFilterSection {
  padding: 35px 0 25px;
}

.tagsWrapper {
  margin-bottom: 60px;
  @media(max-width: 1280px) {
    margin-bottom: 35px;
  }
  @media(max-width: $mediaMobileFilterResults) {
    margin-bottom: 0;
  }
}

.productCardsList {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.productCardsListMobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.listItem, .productCardsListMobile {
  width: fit-content;
}

.tagsFilterResult {
  position: relative;
  @media(max-width: 1280px) {
    margin: 0 10px;
  }
  @media(max-width: $mediaMobileFilterResults) {
    display: none;
  }
}

.sliderNavigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &.main {
    width: 50px;
    height: 50px;
    background-color: $mainColor;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50%;
    transition: background-color $transitionSet;
    &:hover {
      background-color: $mainColorHover;
    }
    @media(max-width: 1280px) {
      display: none;
    }
  }
}

.navigationLeft {
  left: -68px;
  @media(max-width: 1320px) {
    left: -50px;
  }
}

.navigationRight {
  right: -68px;
  @media(max-width: 1320px) {
    right: -50px;
  }
}

.tagsFilterResultMobile {
  display: none;
  @media(max-width: $mediaMobileFilterResults) {
    display: flex;
    justify-content: center;
  }
}