@import '@/_assets/styles/variables';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  user-select: none;
}

.basketImageWrapper {
  position: relative;
  display: flex;
  justify-content: end;
}

.qnt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  right: -9px;
  top: -9px;
  border-radius: 50%;
  background-color: $attention;
  color: $light;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
}

.totalAmount {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  white-space: nowrap;
}