@import '../variables/index';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  font-size: 1.6rem;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  color: $primaryText;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}