//colors
$mainColor: #0787EA;
$mainColorHover: #2DA3FF;
$mainColorActive: #0D78CB;
$skyColor: #24A0FF;
$brightSky: #47D3FF;
$primaryText: #4e5055;
$green: #4FC98E;
$secondaryGreen: #4FC98E4D;
$attention: #FF2D2D;
$light: #fff;
$lightGray: #F9F9F9;
$gray: #F5F5F5;
$inputAreaColor: #F3F3F3;
//animations
$transitionSet: .2s ease-in-out;
//borders
$borderRadiusSmall: 7px;
$borderRadiusMedium: 12px;
//@Media screens
$mediaTablet: 1000px;
$mediaMobile: 750px;
//SimpleBar max-height
$simpleBarCatalogPopupHeight: 65vh;