//colors
$mainColor: #0787EA;
$skyColor: #24A0FF;
$brightSky: #47D3FF;
$primaryText: #333C49;
$green: #4FC98E;
$secondaryGreen: #4FC98E4D;
$attention: #FF2D2D;
$light: #fff;
$lightGray: #F9F9F9;
$gray: #F5F5F5;
//animations
$transitionSet: .2s ease-in-out;
//borders
$borderRadiusSmall: 7px;
//@Media screens
$mediaTablet: 1000px;
$mediaMobile: 750px;
//SimpleBar max-height
$popupCatalogMenuDesktop: 668px;