@import "@/_assets/styles/variables";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  user-select: none;
}

.communicationWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  @media(max-width: $mediaTablet) {
    gap: 10px;
  }
}

.phoneWrapper {
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
  align-items: center;
}

.phoneNumber {
  margin-right: .6rem;
  font-weight: 700;
  line-height: 1.9rem;
  text-decoration: none;
  color: $primaryText;
}

.weAreOnline {
  display: flex;
  gap: 8px;
  align-items: center;
}

.outsideRing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: .8rem;
  height: .8rem;
  background-color: $secondaryGreen;
  border-radius: 50%;
}

.insideRing {
  width: .4rem;
  height: .4rem;
  background-color: $green;
  border-radius: 50%;
}

.weOnlineText {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  user-select: none;
  white-space: nowrap;
}

.callBackBtn {
  min-height: 46px;
  min-width: 176px;
  @media(max-width: $mediaTablet) {
    display: none;
  }
}