@import "@/_assets/styles/variables";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  @media(max-width: $mediaMobile) {
    padding-top: 16px;
    justify-content: initial;
  }
}

.logoMobileWrapper {
  display: flex;
  flex-direction: column;
  @media(max-width: $mediaMobile) {
    margin-right: auto;
    gap: 8px;
  }
}

.logoLink {
  display: flex;
  align-items: center;
  user-select: none;
}

.logoImg {
  @media(max-width: $mediaMobile) {
    width: 137px;
    height: 26px;
  }
}

.cityPickerMobile {
  display: none;
  @media(max-width: $mediaMobile) {
    display: flex;
  }
}

.search {
  @media(max-width: $mediaMobile) {
    display: none;
  }
}

.communicationWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  @media(max-width: $mediaTablet) {
    gap: 10px;
  }
}

.availableDetails {
  @media(max-width: $mediaMobile) {
    display: none;
  }
}

.phoneWrapper {
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
  align-items: center;
}

.phoneNumber {
  margin-right: .6rem;
  font-weight: 700;
  line-height: 1.9rem;
  text-decoration: none;
  color: $primaryText;
}

.weAreOnline {
  display: flex;
  gap: 8px;
  align-items: center;
}

.outsideRing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: .8rem;
  height: .8rem;
  background-color: $secondaryGreen;
  border-radius: 50%;
}

.insideRing {
  width: .4rem;
  height: .4rem;
  background-color: $green;
  border-radius: 50%;
}

.weOnlineText {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  user-select: none;
  white-space: nowrap;
}

.fastActionBtns {
  @media(max-width: $mediaMobile) {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.fastCallBtn {
  display: none;
  @media(max-width: $mediaMobile) {
    display: block;
  }
}

.callBackBtn {
  min-height: 46px;
  min-width: 176px;
  @media(max-width: $mediaTablet) {
    display: none;
  }
}