@import "@/_assets/styles/variables";

.cityPickerMobile {
  display: none;
  @media(max-width: $mediaMobile) {
    display: flex;
  }
}

.search {
  max-width: 426px;
  @media(max-width: $mediaMobile) {
    display: none;
  }
}