@import "@/_assets/styles/variables";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  &.secondary {
    padding: 1.4rem 1.8rem;
    border: 1.5px solid $mainColor;
    border-radius: .7rem;
  }
}