@import '@/_assets/styles/variables/index';

.svg {
  position: relative;
  transition: transform $transitionSet, color $transitionSet, opacity $transitionSet;
  &.main {
    width: 11px;
    height: 7px;
    opacity: .3;
  }
  &.secondary {
    color: $light;
    width: 11px;
    height: 7px;
    @media(max-width: $mediaTablet) {
      width: 8px;
      height: 5px;
    }
  }
  &.tertiary {
    width: 11px;
    height: 7px;
    color: $mainColor;
  }
  &.right {
    transform: rotate(-90deg);
  }
  &.left {
    transform: rotate(90deg);
  }
  &.flip {
    transform: rotate(-180deg);
  }
}