@import "@/_assets/styles/variables";

.title {
  user-select: none;
  &.main {
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 19px;
    @media(max-width: $mediaMobile) {
      margin-bottom: 7px;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.input {
  &.main {
    display: flex;
    padding: 18px 30px;
    width: 100%;
    background-color: $inputAreaColor;
    font-weight: 500;
    font-size: 12px;
    border: none;
    border-radius: $borderRadiusSmall;
    outline: none;
  }
}

.checkboxLabel {
  display: flex;
  max-width: 400px;
  align-items: baseline;
  gap: 14px;
}