@import "@/_assets/styles/variables";

.title {
  text-align: center;
  margin-bottom: 45px;
  user-select: none;
  font-size: 3.2rem;
  line-height: 5rem;
}

.list {
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  justify-items: center;
  @media(max-width: $mediaTablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media(max-width: $mediaMobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: fit-content;
  user-select: none;
}

.round {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px 8px rgba(230, 230, 230, .4);
  border-radius: 50%;
}

.text {
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.4rem;
}

.lineText {
  max-width: 155px;
}

.benefitLine {
  overflow: auto;
  padding-top: 40px;
}

.lineList {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #ddd;
}

.lineListItem {
  display: flex;
  padding: 15px;
  flex: 1;
  gap: 25px;
  align-items: center;
  flex-wrap: nowrap;
  border-left: 1px solid #ddd;
  user-select: none;
}

.lineText {
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
}

.lineTextWrapper {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
}