@import '@/_assets/styles/variables';

.catalogBtnWrapper {
  min-width: 228px;
  min-height: 46px;
  background-color: $skyColor;
  border-radius: $borderRadiusSmall;
  transition: background-color $transitionSet;
  &.isOpen {
    background-color: $brightSky;
  }
  @media(max-width: $mediaTablet) {
    min-width: 180px;
  }
  @media(max-width: $mediaMobile) {
    min-width: 40px;
    min-height: 40px;
  }
}

.catalogBtnArrow {
  @media(max-width: $mediaMobile) {
    display: none;
  }
}

.search {
  display: none;
  @media(max-width: $mediaMobile) {
    display: block;
    max-width: 100%;
  }
}

.itemResult {
  display: none;
  &.isActive {
    display: flex;
    position: absolute;
    min-width: 250px;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: $light;
    color: $primaryText;
    border-bottom-right-radius: $borderRadiusSmall;
    border-bottom-left-radius: $borderRadiusSmall;
    border: 2px solid $mainColor;
    border-top: none;
    z-index: 4;
  }
}

.resultItem {
  &:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
  }
}

.resultLink {
  display: flex;
  padding: 1rem;
  &:hover {
    color: $mainColor;
  }
}

.resultText {
  white-space: nowrap;
}