@import "@/_assets/styles/variables/index";

.subscribeInput {
  &:focus {
    outline-color: $mainColor;
  }
}

.seoRequests {
  bottom: calc(100% + 20px);
  &.showSeo {
    transform: translateX(0);
  }
}

.simpleBar {
  max-height: 150px;
  @media(max-width: 650px) {
    min-height: 300px;
  }
}
