@import "@/_assets/styles/variables";

.root {
  display: flex;
  padding: 15px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $light;
  border-radius: $borderRadiusSmall;
  @media(max-width: 550px) {
    width: 90vw;
  }
}

.text {
  max-width: 250px;
  text-align: center;
}

.listWrapper {
  @media(max-width: 550px) {
    width: 100%;
  }
}

.list {
  display: grid;
  align-content: start;
  padding: 20px;
  min-height: 200px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: $gray;
  @media(max-width: 550px) {
    grid-template-columns: unset;
  }
}

.item {
  width: 200px;
  cursor: pointer;
  transition: color $transitionSet;
  &:hover {
    color: $mainColor;
  }
}

.simpleBar {
  max-height: 200px;
}